# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.php text
*.py text
*.js text
*.json text
*.xml text
*.yaml text
*.yml text

# Documentation
*.md text
*.txt text

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Configuration
*.conf text
*.config text
*.ini text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
